@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-4">

        <form>
            Username<input type="text" name="Username"><br>
            Password<input type="text" name="Password"><br>
            <input type="submit" value="Submit">
        </form>

    </div>
</div>